<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Test</title>
  <style>
  </style>
</head>
<body>
<div class="card" style="overflow: hidden; position: relative;">
  <div style="display: flex; justify-content: center; overflow: hidden;">
    <img style="height: 300px" src="https://www-file.huawei.com/-/media/corp2020/home/banner/4/csr-2020-cn.jpg" alt="">
  </div>
  <div class="card-content" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;flex-direction: column;align-items: center">
    <div class="card-title">xxx</div>
    <div class="icon">xxx</div>
    <div class="desptions">xxx</div>
  </div>
  <div class="button">

  </div>
</div>
</body>
</html>
