<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Popover</title>
  <link href="main.css" rel="stylesheet">
  <script src="main.js" defer></script>
</head>
<body>
<h1>Popover</h1>
<hr>
<h2>Open/Close Popover</h2>
<main>
  <button id="openBtn" type="button">Open</button>
  <span id="text"></span>
  <div id="popover" class="popover hidden">
    <form>
      <div>title</div>
      <input id="input" type="text">
      <button id="okBtn" type="button">Ok</button>
      <button id="closeBtn" type="button">Close</button>
    </form>
  </div>
</main>
</body>
</html>
