<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" href="http://cdn.staticfile.org/normalize/3.0.1/normalize.min.css"/>
  <link rel="stylesheet" href="main.css"/>
</head>
<body>
<header class="clearfix">
  <ul class="clearfix menu1">
    <li class="sublist">
      <a>category-1</a>
      <ul class="clearfix menu2">
        <li><a>category-11</a></li>
        <li><a>category-12</a></li>
        <li><a>category-13</a></li>
      </ul>
    </li>
    <li class="sublist">
      <a>category-2</a>
      <ul class="clearfix menu2">
        <li><a>category-11</a></li>
        <li><a>category-12</a></li>
        <li><a>category-13</a></li>
      </ul>
    </li>
    <li class="sublist">
      <a>category-3</a>
      <ul class="clearfix menu2">
        <li><a>category-11</a></li>
        <li><a>category-12</a></li>
        <li><a>category-13</a></li>
      </ul>
    </li>
  </ul>
</header>
<main>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, facere placeat. Corporis culpa distinctio dolores
  ea eius facere impedit, ipsum itaque laboriosam, nemo non, perferendis perspiciatis repellendus ut vero voluptate.
</main>

<!--<div id="test2">test1</div>-->
<!--<div id="test1">test1</div>-->
</body>
</html>
